.navbar__s1 img{
    padding-left: 40px;
    width: 50px;
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Gabarito", serif;
    
    height: 100px;
}

.navbar__s1{
    display: flex;
    align-items: center;
    gap: 0px;
}

.navbar__s2{
    display: flex;
    gap:40px;
    font-weight:bold;
    font-size: larger;
}

.navbar__s3 button{
    display: flex;
    width: 75px;
    height: 50px;
    border-radius: 100px;
    align-items: center;
    font-size: medium;
    background-color: black;
    color: white;
    font-weight: bold;
}

.searchbar__s1{
    font-family: "Montserrat", serif;
    padding-top: 40px;
    padding-left: 40%;
    font-size:x-large;
}

.searchbar__s2{
    padding-left: 26%;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    font-family: "Gabarito", serif;
}

.search__all,.hotels,.todo,.restaurants,.flights,.holiday_homes{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: large;
}

.searchbar__s3{
    margin-top: 20px;
    margin-left: 380px;
    padding: 8px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.searchbar__s3 input{
    
    border: none;
    width : 100%;
    font-size: 16px;
}

.searchbar__s3 button{
    border-radius: 40px;
    width:120px;
    height: 40px;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(101, 234, 40);
}

.imagebar{
    width: 75%;
    background-color: rgb(203, 203, 245);
    margin-left: 250px;
    margin-right: 200px;
    margin-top: 50px;
    
    height: 400px;
    border-radius: 30px;
}

.imagebar img{  
    width: 100%;
    height: 400px;
    position: relative;
}
.imagebar__text{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 400px;
    padding-left: 70px;
    padding-top: 100px;
    width: 50%;
}

.searchbar__para__button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(24, 5, 52);
    color: white;
    font-weight: bold;
    font-size: medium;
}

.beta{
    border-radius: 5px;
    font-weight: bold;
}

.searchbar__para__1{
    font-family: "Montserrat", serif;
    font-size: x-large;
    color: rgb(3, 3, 82);
}

.searchbar__para__2{
    font-family: "Montserrat", serif;
    font-size: medium;
    color: rgb(3, 3, 82);
}

.explore{
    font-family: "Nunito", serif;
    width: 100%;
    margin-left: 250px;
    margin-top: 40px;
    margin-right: 50px;
}

.explore__images{
    display: flex;
    gap: 15px;
}

.explore__images img{
    width: 270px;
    height: 275px;
    border-radius: 10px;
}

.explore__images h1{
    font-family: "Nunito", serif;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50px;
    left: 50px;
    color: white;
}

.tour__guide{
    font-family: "Nunito", serif;
    width: 70%;
    margin-left: 250px;   
    margin-right: 50px;
}

.tour__guide__images{
    display: flex;
    gap: 15px;
}

.tour__guide__images img{
    width: 270px;
    height: 275px;
    border-radius: 10px;
}

.tour__guide__images h3,p{
    padding: 0%;
    margin: 0%;
}

.Awards__Section{
    margin-top: 60px;
    width: 100%;
    height: 600px;
    background-color: #FFF7E1;
}

.Awards__Image{
    width:700px;
    height: 100%;
    padding-left: 700px;
}

.Awards__Logo{
    width: 100px;
}

.Awards__Section__left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 500px;
    left: 100px;
    width: 40%;
}
.Awards__Section__left img,h1{
    padding: 0%;
    margin: 0%;
}

.Awards__Section__left h1{
    font-family: "Montserrat", serif;
    font-size: xx-large;
    
}

.Awards__Section__left p{
    font-family: "Montserrat", serif;
    font-weight:600;
    font-size: large;
}

.Awards__Section__left button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: medium;
    background-color: black;
    color: white;
    font-weight: bold;
}

.footer{

    margin-top: 60px;
    padding-left: 200px;
    padding-top: 30px;
    background-color: #F2F2F2;
    color: #333333;
    font-family: "Archivo", serif;
}
.footer__one{
    display: flex;
    gap: 50px;
}

.footer__one p{
    margin: 10px;
}

.footer__two{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.footer__two__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.footer__two__hyperlinks{
    display: flex;
    gap: 10px;

}
.footer__two img{
    width: 40px;
    height: 40px;
    border: none;
}

.footer__two a{

    color: black;
}

.footer_three_Sm{  
    display: flex; 
    padding-left:1100px;
}

.footer_three_Sm a{
    width: 50px;
    height: 70px;
}

@media screen and (max-width:800px)
{
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px)
{
    .searchbar__s3{
        border-radius: 0;
        margin-left: 150px;
    }

}